/*  ESTILOS BASE: Mobile First  */

.top-nav-list li a {
  color: #111679;
  font-family: 'Albert Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.top-nav-list li {
  display: inline-block;
  margin-right: 5px;
}

header .tycsports {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: auto;
}

h1 {
  font-size: 32px;
  color: #21233e;
  font-family: 'Albert Sans', sans-serif;
}

.main-nav-section {
  text-align: center;
}

.main-nav-section h2 {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  font-family: 'Albert Sans', sans-serif;
}

.main-nav-section h2 a {
  color: #111679;
  text-decoration: none;
}

article p {
  font-family: 'Albert Sans', sans-serif;
  color: black;
  font-size: 16px;
}

.publicidad {
  background-color: #f7f7f7;
  color: #333;
  padding: 50px;
  text-align: center;
  font-weight: bold;
  margin: 20px auto;
  max-width: 300px;
}

article h2 {
  font-family: 'Albert Sans', sans-serif;
  color: #21233e;
  font-size: 32px;
}

.foto-profe-holan {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #f7f7f7;
  font-family: 'Albert Sans', sans-serif;
}

footer p {
  text-align: center;
  font-size: 12px;
}

.footer-wrap {
  width: 100%;
  white-space: normal;
  text-align: center;
}

.footer-wrap > .link,
.footer-wrap > .footer-nav {
  display: inline-block;
  vertical-align: top;
}

.link {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  font-family: 'Albert Sans', sans-serif;
  font-size: 14px;
  color: #111679;
  text-align: center;
}

.link a {
  display: block;
  text-decoration: none;
  color: #111679;
  margin-bottom: 8px;
}

.footer-nav {
  width: 100%;
  font-family: 'Albert Sans', sans-serif;
  white-space: normal;
  margin: 0 auto;
}

.footer-nav ul li {
  margin-bottom: 5px;
}

footer h4 {
  color: #111679;
  margin-bottom: 10px;
}

footer ul {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 0 1% 20px 1%;
  font-size: 14px;
  list-style: none;
  padding: 0;
}

footer li a {
  color: #000000;
  text-decoration: none;
}

.menu-sitios {
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 20px;
  list-style: none;
}

.menu-sitios ul.lista-medios {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.menu-sitios ul.lista-medios li {
  display: block;
  margin: 5px 0;
}

 /*  REVISAR */
.menu-sitios li a {
  color: #000000;
  text-decoration: none;
}
/*  REVISAR */

/* HASTA ACÃ MOBILE TERMINADO */ 

/*  TABLETS EN ADELANTE (DESKTOP, TVS) */
@media (min-width: 768px) {
  /*  NAV  */
  .top-nav-list li a {
    color: #111679;
    font-family: 'Albert Sans', sans-serif;
    font-size: medium;
    text-decoration: none;
  }

  .top-nav-list li {
    display: inline-block;
    margin-right: 20px;
  }

  header .tycsports {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
  }

  h1 {
    font-size: 32px;
    color: #21233e;
    font-family: 'Albert Sans', sans-serif;
  }

  .main-nav-section {
    text-align: center;
  }

  .main-nav-section h2 {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
  }

  .main-nav-section h2 a {
    color: #111679;
    text-decoration: none;
  }

  /*  ARTICLE  */
  article p {
    font-family: 'Albert Sans', sans-serif;
    color: black;
    font-size: 16px;
  }

  article h2 {
    font-family: 'Albert Sans', sans-serif;
    color: #21233e;
  }

  /*  FOOTER  */
  footer {
    background-color: #f7f7f7;
    font-family: 'Albert Sans', sans-serif;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }

  .footer-wrap {
    text-align: left;
    overflow: hidden;
    padding: 0px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-wrap > .link {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-right: 40px;
  }

  .link {
    font-family: 'Albert Sans', sans-serif;
    font-size: 14px;
    color: #111679;
  }

  .link a {
    display: block;
    text-decoration: none;
    color: #111679;
    margin-bottom: 8px;
  }

  .footer-wrap .footer-nav {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 260px);
  }

  .footer-nav ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    width: auto;
    max-width: 200px;
    box-sizing: border-box;
  }

  .footer-nav ul li {
    margin-bottom: 5px;
  }

  .footer-nav h4 {
    margin-bottom: 10px;
    color: #111679;
    font-size: 14px;
  }

  footer ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin-bottom: 20px;
  }

  footer li a {
    color: #000000;
    text-decoration: none;
    display: block;
  }

  /* MENU-SITIOS  */
  .menu-sitios {
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .menu-sitios ul.lista-medios {
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    text-align: center;
  }

  .menu-sitios ul.lista-medios li {
    display: inline-block;
    margin: 30px 30px 15px 0;
  }

  .menu-sitios ul.lista-medios li a {
    color: #000000;
    text-decoration: none;
  }
}
